@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;452;600&display=swap');
*{
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    margin-left: auto;
    color: rgb(73, 73, 73);
    font-family: 'Rubik', sans-serif;
}
main{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
img{
    display: block;
    width: 100%;
}
a{
    text-decoration: none;
    color: rgb(66, 65, 65);
}
.telefono img,.correo img{
    width: 50px;
}
.header{
    width: 100%;
    padding: 0;
    margin-bottom: -15px;
}
.header .logo{
    width: 23%;
    margin-left: 16px;
    display: inline-block;
}
.header .logo img{
    height: 100px;
}
.header .titular{
    width: 41%;
    font-size: 0.9rem;
    display: inline-block;
    text-align: center;
    padding: 0;
}
.titular h1{
    font-size: 1.3rem;
    text-align: center;
    margin-top: -30px;
    margin-bottom: 0;
}

.titular p{
    margin-top: 0;
    margin-bottom: 0;
}
.titular .titular__ciudad{
    font-size: 0.9rem;
    text-align: center;
}
.titular__elemento .telefono__numero{
    margin-left: 3px;
}
.titular .titular__elemento{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 10px;
}
.titular__elemento img{
    width: 15px;
}

.correo .correo__dir{
    margin-left: 3px;
}
.header .ruc{
    width: 29%;
    border: 2px solid  rgb(73, 73, 73);
    padding: 8px 2px;
    display: inline-block;
    text-align: center;
}
.ruc p:first-child{
    margin-top: 0;
    margin-bottom: 0.5rem;
}
.ruc p:nth-child(2){
    margin-top: 0;
    margin-bottom: 0.5rem;
}
.ruc p:last-child{
    margin-top: 0;
    margin-bottom: 0;
}
 
table{
    width: 100%;
    border: 1px solid rgb(73, 73, 73);
    text-align: center;
    border-collapse: collapse;
    font-size: 10px;
    font-weight: bold;
}
.descripcion {
    border: none;
    margin-bottom: 7px;
}

.descripcion th,.descripcion td{
   /* border: 2px solid rgb(73, 73, 73); */
   padding: 0.1rem;
}
.descripcion tbody td{
    font-size: 0.7rem;
}
.pagar thead tr,.pagar thead td{
   border: 1px solid rgb(73, 73, 73);
   padding: 0.3rem;
}
.pagar tbody td{
   font-size: 9.5px;
   padding-top: 2.75px;
   padding-bottom: 2.75px;
}
.pagar tbody td:nth-child(2){
   text-align: left;
   font-size: 8.5px;
   padding-left: 6px;
}
.pagar tbody td:nth-child(4){
    text-align: right;
    padding-right: 15px;
}
.pagar tbody td:last-child{
    text-align: right;
    padding-right: 15px;
 }
.pagar .tfood {
   border-top: 1px solid rgb(73, 73, 73);
   text-align: left;
   text-transform: uppercase;
}
.pagar .tfood td:last-child {
    font-size: 11px; 
    font-weight: bold;
    text-align: right;
    padding-right: 15px;
 }
.tfood td{
   padding-left: 20px;
}
.escaner{
    height: 150px;
    width: 150px;
}
.escaner .escaner__img{
    padding-top: 24px;
    margin: auto;
    height: 100px;
    width: 100px;
    
}
.compra__texto{
    text-align: left;
    font-weight: 400;
    padding-left: 10px;
}
.compra__hash span{
    font-size: 0.7rem;
    font-weight: 450 !important;
}

.resumen > p{
    font-weight: bold;
    text-align: left;
    font-size: 0.9rem;
}
.resumen .resumen__elemento{
    font-weight: 400;
    font-size: 0.8rem;
    width: 100%;
}
.resumen__elemento p{
    margin-top: 0;
    margin-bottom: 0.4rem;
    display: inline-block;
    
}
.resumen__elemento p:first-child{
    width: 45%;
    text-align: left;
    }
.resumen__elemento .gravada__precio,.exonerado__precio,.igv__precio,.descuento__precio,.total__precio{
    width: 50%;
    text-align: right;
}
.transaccion{
    border: none;
    margin-bottom: 10px;
}

.transaccion td:first-child{
    width: 20%;
}

.transaccion td:nth-child(2){
    width: 40%;
}

.observacion td{
    text-align: start;
    padding-left: 20px;
    font-weight: 400;
}

.observacion td span{
    font-weight: bold;
}

.pagar .detalle{
    font-weight: 450;
}

.cliente{
    width: 20%;
    padding: 0;
}
.cliente p:first-child .cliente__puntos{
    margin-left: 50px;
    margin-right: 8px;
    /* border: 1px solid red */

}
.cliente p:first-child {
    /* border: 1px solid blue; */
    margin-top: 0;
    margin-bottom: 0;
}

.emision{
    width: 20%;
    padding: 0;
}
.emision p:first-child .cliente__puntos{
    margin-left: 16px;
    margin-right: 8px;
    /* border: 1px solid red */

}
.emision p:first-child {
    /* border: 1px solid blue; */
    /* text-align: left; */
    margin-top: 0;
    margin-bottom: 0;
}

.documento{
    width: 20%;
    padding: 0;
}
.documento p:first-child .cliente__puntos{
    margin-left: 30px;
    margin-right: 8px;
    /* border: 1px solid red */

}
.documento p:first-child{
    /* border: 1px solid blue; */
    margin-top: 0;
    margin-bottom: 0;
}

.pago{
    width: 20%;
    padding: 0;
}
.pago p:first-child .cliente__puntos{
    margin-left: 15px;
    margin-right: 8px;
    /* border: 1px solid red */

}
.pago p:first-child{
    /* border: 1px solid blue; */
    margin-top: 0;
    margin-bottom: 0;
}

.derecha-cabecera{
    width: 30%;
    text-align: left;
}